<h1>UnreturnedFriends#index</h1>
<table>
  <tr>
    <th>id</th><th>name</th>
  </tr>
  <% @unreturned_friends.each do |friend| %>
      <tr>
        <td><%= friend.screen_name %></td>
        <td><%= friend.name %></td>
      </tr>
  <% end %>
</table>
